body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
}

.header{
    text-align: center;
}
.banner img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.navbar{
    background-color: #fdfdfd;
    padding: 15px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.navbar ul li {
    display: inline;
    margin: 0 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #0e0d0d;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3 ease;
}


.navbar ul li a:hover{
    color: #f2b3cd;
}

.section{
    background-color: #fff5f5;
    width: 100%;
    height: 450px;
}

a{
    color: black;
    text-decoration: none;
}

.abordados{
    background-color: #F3CCC3;
    width: 70%;
    height: 5px;
    margin: 80px auto;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
}

.abordados h1{
    text-align: center;
    font-size: 30px;
    color: #1e1c1c;
}



.galeria{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 20px;
    
}

.galeria img:hover{
    box-shadow: 0 0 2px 1px rgba(174, 0, 186, 0.5);
}
.força img{
    width: 290px;
    height: 250px;
}
.força h1{
    font-size: 12px;
    margin-bottom: 5px;
}
.força p{
    font-size: 20px;
    margin-top: 5px;
}


.liberdade img{
    width: 290px;
    height: 250px;
}
.liberdade h1{
    font-size: 12px;
    margin-bottom: 5px;
}
.liberdade p{
    font-size: 20px;
    margin-top: 5px;
}



.moda img{
    width: 290px;
    height: 250px;
}
.moda h1{
    font-size: 12px;
    margin-bottom: 5px;
}
.moda p{
    font-size: 20px;
    margin-top: 5px;
}



.entretenimento img{
    width: 290px;
    height: 250px;
}
.entretenimento h1{
    font-size: 12px;
    margin-bottom: 5px;
}
.entretenimento p{
    font-size: 20px;
    margin-top: 5px;
}



.galeria2{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.galeria2 img:hover{
    box-shadow: 0 0 2px 1px rgba(174, 0, 186, 0.5);
}



.moda2 img{
    width: 290px;
    height: 250px;
}
.moda2 h1{
    font-size: 12px;
    margin-bottom: 5px;
}
.moda2 p{
    font-size: 20px;
    margin-top: 5px;
}



.autenticidade img{
    width: 290px;
    height: 250px;
}
.autenticidade h1{
    font-size: 12px;
    margin-bottom: 5px;
}
.autenticidade p{
    font-size: 20px;
    margin-top: 5px;
}



.auto img{
    width: 290px;
    height: 250px;
}
.auto h1{
    font-size: 12px;
    margin-bottom: 5px;
}
.auto p{
    font-size: 20px;
    margin-top: 5px;
}



.autoc img{
    width: 290px;
    height: 250px;
}
.autoc h1{
    font-size: 12px;
    margin-bottom: 5px;
}
.autoc p{
    font-size: 20px;
    margin-top: 5px;
}




.ut section{
    background-color: #fff5f5;
    width: 100%;
    height: 578px;
    padding-top: 5px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
}



.artigos{
    background-color: #F3CCC3;
    width: 70%;
    height: 5px;
    margin: 80px auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(87, 83, 83, 0.5);
}

.artigos h1{
    text-align: center;
    font-size: 30px;
    color: #1e1c1c;
}

.ut{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 150px;
}
.ut section{
    width: 275px;
    height: 350px;
    padding-top: 20px;
}

.ut img{
    width: 200px;
    height: 200px;
}

.ut section:hover{
    box-shadow: 0 0 2px 1px rgb(174, 0, 186, 0.5);
}
.ut h1{
    font-size: 14px;
}

.ut h2{
    font-size: 18px;
}
.ut span{
    color: #000;
}
.filme1{
    margin-left: 35px;
}
.unha1{
    margin-left: 35px;
}
.livros1{
    margin-left: 35px;
}
 







.section_form{
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    margin-bottom: 100px;
    width: 1000px;
    background: white;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    text-align: center;
    height: 500px;

    
}



.frase{
    background-color: #fff5f5;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    gap: 100px;
    color: #1b1a1a;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    margin-bottom: 60px;

}
.frase img{
    margin-top: 5px;
}

#muda{
    margin-right: 230px;
    font-weight: bold;
}

#muda p{
    margin: 0px;
}

.conhecimento{
    display: flex;
    justify-content: space-between;
    background-color: #fff5f5;
    margin-top: 25px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #575656;
    border: 1px solid black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    margin-bottom: 100px;

}

.conhecimento p{
    margin-right: 80px;
    margin-top: 160px;
}

.conhecimento span{
    color:#B827B6;
}

    







button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF5F5;
    text-align: center;
    flex-wrap: wrap;

    
}
#img_rodape{
    width: 100%;
    
}


.rodape {
    padding: 0 20px;
    margin: auto;
   
}

.linha-vertical {
    width: 2px;
    height: 100px; 
    background-color: #000; 
}

footer p {
    margin: 10px 0;
}

.rodape button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
}

button:hover {
    background-color: #3d4042;
}

.interacao{
    font-size: 15px;
    text-align: start;
}
.redes img{
    width: 35px;
    height: 25px;
}
.redes{
    margin-left: 30px;
}
